include LICENSE
include README.md
recursive-include djangocms_tacc_system_monitor/static *
recursive-include djangocms_tacc_system_monitor/templates *
recursive-include djangocms_tacc_system_monitor/migrations *
