{% load static %}

{% block before_content %}
{# <link rel="stylesheet" href="{% static '…/….css' %}" /> #}
{% endblock before_content %}

{% block content %}
<div
  id="system-monitor-{{ instance.id }}"
  {# class="s-system-monitor" #}
  {{ instance.attributes_str }}
  >
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">STATUS</th>
        <th scope="col">LOAD</th>
        <th scope="col">RUNNING</th>
        <th scope="col">QUEUED</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">
          {% if system_status == 'operational' %}
          <span class="iconworks  badge badge-success" data-icon="&#217;">Operational</span>
          {% else %}
          <span class="badge badge-warning">Maintenance</span>
          {% endif %}
        </td>
        <td>
          {% if system_data %}
            {{ system_data.load_percentage }}%
          {% else %}
            —
          {% endif %}
        </td>
        <td>
          {% if system_data %}
            {{ system_data.jobs.running }}
          {% else %}
            —
          {% endif %}
        </td>
        <td>
          {% if system_data %}
            {{ system_data.jobs.queued }}
          {% else %}
            —
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
